/*
|--------------------------------------------------------------------------
| Button Default
|--------------------------------------------------------------------------
*/
.el-button {
    //border-radius: 20px;
    border-radius: 5px;
    min-width: 140px;
    margin: 5px 2px;
    vertical-align: middle;
  
    font-weight: 600;
    font-size: 12;
    box-sizing: border-box;
    border-width: 2px;
  }
  .el-button {
  
    &.el-button--default {
      background-color: transparent;
      border-color: #000;
      color: #000;
  
      &.is-disabled {
        color: #b4bccc !important;
        cursor: not-allowed !important;
        background-image: none !important;
        background-color: #fff !important;
        border-color: #e6ebf5 !important;
      }
    }
  
    &.el-button--primary {
      background-color: #eef1f7;
      border-color: #eef1f7;
      color: #fff;
    }
  }
  