.v-dropdown-menu {
    width: 100%;
    $this: &;
    &.custom-style & {
        background-color: rgba(#000, 0.4) !important;
      &__container {
        border: 0;
        border-radius: 5px;
        box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
        transform: translateY(-50px);
        #{$this} {
          &__header {
            display: flex;
            justify-content: center;
            padding: 10px;
            background-color: #eee;
          }
          &__body {
            padding: 10px;
            ul {
              margin: 0;
              padding: 0;
              li {
                list-style: none;
                a {
                  display: flex;
                  padding: 1rem;
                  color: #666;
                  font-size: 16px;
                  text-decoration: none;
                  &:hover {
                    background-color: #f2f2f2;
                  }
                }
              }
            }
          }
        }
      }
    }
    &.custom-style {
      // Custom Transition - Zoom Effect
      .zoom-enter-active {
        transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
      .zoom-enter,
      .zoom-leave-to {
        transform: translateY(50px) scale(0.5);
        transform-origin: center top;
        opacity: 0;
      }
      &#{$this}--mode-hover {
        .zoom-enter,
        .zoom-leave-to {
          transition-delay: 0.4s;
        }
      }
    }
}